<app-navigation></app-navigation>

<div
  class="container-fluid mt-3 pt-5"
  style="background-color: black; padding-bottom: 10px"
>
  <h1 style="color: orange">Workouts</h1>
  <br /><br />
  <div class="row">
    <div class="col-md-4" *ngFor="let exercise of advExercises">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ exercise.Split }}: {{ exercise.Name }}</h4>

          <!-- <iframe
            width="100%"
            height="250"
            [src]="getSafeUrl(exercise.Video)"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe> -->

          <form class="pt-2" [formGroup]="completeExForm">
            <input
              type="number"
              name="weight"
              id="weight"
              class="form-control"
              formControlName="weight"
              placeholder="Weight (in kilograms)"
            /><br />
            <input
              type="number"
              name="repetitions"
              id="repetitions"
              class="form-control"
              formControlName="repetitions"
              placeholder="Number of repetitions"
            /><br />
            <div class="form-group">
              <div class="input-field">
                <div
                  class="buttons d-flex justify-content-between form-control bgTransparent"
                >
                  <button
                    class="btn btn-success"
                    style="color: white"
                    (click)="completeExercise(exercise.ID, exercise.Split)"
                  >
                    Complete Exercise
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="unCompleteExercise(exercise.ID, exercise.Split)"
                  >
                    unComplete Exercise
                  </button>
                </div>
              </div>
            </div>

            <div class="videoBtn">
              <a
                class="btn btn-dark"
                type="button"
                href="{{ exercise.Video }}"
                target="_blank"
              >
                Detailed Video
              </a>
            </div>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
