<app-navigation></app-navigation>

<div class="container-fluid pt-5 mt-3" style="background-color: black">
  <div class="row">
    <h1 style="color: orange; text-align: center; margin-bottom: 30px">
      {{ Levels[0] }}
    </h1>

    <div class="col-md-4" *ngFor="let MuscleGroup of BMuscleGroups">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/{{ MuscleGroup.img }}"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">{{ MuscleGroup.name }}</h4>
          <p class="card-text">
            {{ MuscleGroup.description }}
          </p>
          <button
            (click)="displayWorkouts(MuscleGroup.name, Levels[0])"
            class="btn btn-dark"
            style="color: orange"
          >
            Check Exercises
          </button>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="row">
    <h1 style="color: orange; text-align: center; margin-bottom: 30px">
      {{ Levels[1] }}
    </h1>
    <div class="col-md-4" *ngFor="let MuscleGroup of IMuscleGroups">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/{{ MuscleGroup.img }}"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">{{ MuscleGroup.name }}</h4>
          <p class="card-text">
            {{ MuscleGroup.description }}
          </p>
          <button
            (click)="displayWorkouts(MuscleGroup.name, Levels[1])"
            class="btn btn-dark"
            style="color: orange"
          >
            Check Exercises
          </button>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="row">
    <h1 style="color: orange; text-align: center; margin-bottom: 30px">
      {{ Levels[2] }} Programs
    </h1>
    <div class="col-md-4" *ngFor="let advSplit of AdvSplits">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/{{ advSplit.img }}"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">{{ advSplit.name }}</h4>
          <p class="card-text">
            {{ advSplit.description }}
          </p>
          <p class="card-text">
            {{ advSplit.DaysDescription }}
          </p>
          <button
            (click)="displayAdvWorkouts(advSplit.id)"
            class="btn btn-dark"
            style="color: orange"
          >
            Check Program
          </button>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>
